<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Profile</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dolorem et totam incidunt nobis impedit! Accusamus consectetur aut consequatur modi provident, porro explicabo fugit quas optio laudantium deleniti, beatae iure, non error esse placeat soluta? Corrupti aperiam alias, magnam porro maxime deserunt. Officiis dignissimos, iusto in unde temporibus consequatur cum expedita ratione praesentium soluta dolor eum velit tenetur saepe quaerat optio esse quis incidunt tempora culpa quidem reprehenderit. Error omnis voluptatem harum ipsa fugiat laborum dolore cumque quo explicabo odit quidem, ratione officiis sapiente hic exercitationem dolorum corrupti alias accusamus magni nisi soluta esse neque nobis! Odit ut soluta non ea quibusdam similique qui, minus repellendus enim optio beatae nemo, eum vel culpa consectetur impedit placeat nisi ex omnis. Ducimus.</p>
</body>
</html>